:root {

  /* Header */
  --header-description-color: rgb(255, 217, 1);

  /* Navigation */
  --navbar-bg-color: rgba(27, 27, 27, 0.7);
  --navbar-dropdown-bg-color: rgba(27, 27, 27, 0.8);
  --navbar-logo-color: #fff;
  --navbar-text-color: #fff;
  --navbar-a-color: #fff;
  --navbar-a-hover-color: gold;
  --navbar-dropdown-border-top-color: gold;
  --navbar-dropdown-border-bottom-color: rgba(0, 0, 0, 0.3);
}

/* Header */

header {
  background-image: url("../images/header.gif");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-clip: border-box;
}

header h1, header h1 + p {
  text-align: center;
}

header h1 {
  margin-top: 10%;
  font-size: 2.5rem;
}

header h1 + p {
  width: 50%;
  margin: auto;
  font-size: 1.3rem;
}

header .description, h1 {
  color: var(--header-description-color);
}

/* Navigation */

nav {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  font-family: "Arial", "Helvetica", sans-serif;
}

nav .left {
  float: left;
}

nav .right {
  float: right;
}

nav .flex {
  justify-content: space-between;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: var(--navbar-logo-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav ul {
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: var(--navbar-a-color);
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: var(--navbar-a-hover-color);
  cursor: pointer;
}

nav ul li ul {
  background-color: var(--navbar-dropdown-bg-color);
}

nav ul ul {
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden; 
  transition: top 0.2s;
  border-top: 2px solid var(--navbar-dropdown-border-top-color);
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  width: 210px;
  float: none;
  display: list-item;
  border-bottom: 1px solid var(--navbar-dropdown-border-bottom-color);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul li a:hover {
  box-shadow: none;
  color: var(--navbar-a-hover-color);
}

nav input, nav .show, .icon {
  display: none;
}