:root {
    --main-color: black;
    --features-background-color: white;
    --generators-background-color: rgb(255, 203, 203);
    --main-jobs-button-color: rgb(255, 0, 0);
    --main-jobs-button-text-color: rgb(255, 255, 255);
    --main-jobs-button-hover-color: rgb(252, 252, 252);
    --main-jobs-button-hover-text-color: rgb(255, 132, 132);
    --main-jobs-button-background-color: radial-gradient(black, transparent);
    --main-generator-button-background-color: radial-gradient(white, transparent);
}

main .spacer {
    max-width: 75%;
    margin: 40px auto;
}

main #features {
    text-align: center;
    margin: 10% auto;
}

main #features .feature {
    display: inline-block;
}

main #features .feature h3 {
    margin-top: 0;
    margin-bottom: 0;
}

main #features .feature .feature-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

main #features .feature .feature-container .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--features-background-color);
}

main #generators {
    text-align: center;
    margin: 10% auto;
}

main #generators .generator {
    display: inline-block;
}

main #generators .generator h3 {
    margin-top: 0;
    margin-bottom: 0;
}

main #generators .generator .generator-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

main #generators .generator .generator-container .generator-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--generators-background-color);
}

main #generators .generator .generator-container .generator-box a {
    border-radius: 20px;
    padding: 10px;
    border: 0px solid var(--main--button-color);
    background: var(--main-generator-button-background-color);
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
}

main .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
}

main .information h1 {
    font-size: 2.5rem;
    color: var(--main-color);
}

main .information p {
    margin: -25px auto;
    font-size: 1.2rem;
    color: var(--main-color);
}

main #jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-between;
    justify-content: center;
    margin: 0 auto;
}

main #jobs h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 2.5rem;
    color: var(--main-color);
    text-align: center;
}

main #jobs .support {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

main #jobs .support h1 {
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 40px 0;
}
main #jobs .support p {
    margin: 20px;
}

main #jobs .support a {
    border-radius: 20px;
    padding: 10px;
    border: 0px solid var(--main-jobs-button-color);
    background: var(--main-jobs-button-background-color);
    text-decoration: none;
    color: var(--main-jobs-button-text-color);
    display: inline-block;
}

main #jobs .support a:hover {
    border-radius: 20px;
    padding: 10px;
    border: 0px solid var(--main-jobs-button-hover-color);
    text-decoration: none;
    color: var(--main-jobs-button-hover-text-color);
}

main #jobs .developer {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

main #jobs .developer h1 {
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 40px 0;
}

main #jobs .developer p {
    margin: 20px;
}

main #jobs .developer a {
    border-radius: 20px;
    padding: 10px;
    border: 0px solid var(--main-jobs-button-color);
    background: var(--main-jobs-button-background-color);
    text-decoration: none;
    color: var(--main-jobs-button-color);
    display: inline-block;
}

main #jobs .developer a:hover {
    border-radius: 20px;
    padding: 10px;
    border: 0px solid var(--main-jobs-button-hover-color);
    text-decoration: none;
    color: var(--main-jobs-button-text-color);
}