:root {
    --thumb-color: rgb(203, 147, 255);
    --thumb-hover-color: rgb(190, 0, 248);
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--thumb-color);
  background-clip: content-box;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover-color);
}

html::-webkit-scrollbar-thumb:active {
  background-color: var(--thumb-hover-color);
}

html::-webkit-scrollbar-button {
  display: none;
}


