:root {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(250, 213, 6);
    --button-color: rgb(255, 95, 95);
    --button-text-color: rgb(255, 255, 255);
    --button-hover-color: rgb(255, 95, 95);
    --button-hover-text-color: rgb(255, 255, 255);
    --button-active-color: rgb(255, 95, 95);
    --button-active-text-color: rgb(255, 255, 255);
    --button-focus-color: rgb(255, 95, 95);
    --button-focus-text-color: rgb(255, 255, 255);
    --button-disabled-color: rgb(255, 95, 95);
    --button-disabled-text-color: rgb(255, 255, 255);
    --link-color: rgb(146, 206, 255);
}

body {
    background-color: var(--background-color);   
    color: var(--text-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.space {
    background-color: var(--main-color);
    height: 1px;
    width: 100%;
    margin: 40px auto;
}

.transparent {
    background-color: transparent;
}

#contact-us {
    text-align: center;
}

#terms-of-service {
    text-align: center;
    height: 50%;
}

#privacy-policy {
    text-align: center;
    height: 50%;
}

#cookies {
    text-align: center;
    height: 50%;
}

#license {
    text-align: center;
    height: 50%;
}

#legal {
    text-align: center;
    height: 50%;
}