:root {
    --support-main-text-color: rgb(0, 0, 0);
    --support-high-text-color: rgb(255, 255, 255);
    --support-low-text-color: rgb(186, 67, 255);
    --support-bold-text-color: rgb(77, 77, 77);
    --support-italic-text-color: rgb(255, 0, 0);
}

main #support h2 {
    text-align: center;
    color: var(--support-high-text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 40px 0;
}

main #support {
    color: var(--support-main-text-color);
}

main #support .service {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

main #support .supervisor {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-between;
}

main #support .service p {
    margin: 20px;
}

main #support h3 {
    color: var(--support-low-text-color)
}

main #support .service h3 b {
    color: var(--support-bold-text-color)
}

main #support .service h3 i {
    color: var(--support-italic-text-color)
}

main #support .button-outline {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

main #support .button-outline:hover {
    border: 2px solid #ff726f;
}